body{
    height: 95vh;
    width: 95vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Fredoka One', cursive;

    color:rgb(241, 237, 237);
    background-color: rgb(110, 216, 151);
    background-image: url('img/grass.png');
    background-position: bottom;
    background-repeat: repeat-x;
}